@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #950740;
  --pbg-color: #9507403f;
  --secondary-color: #C3073F;
  --black-color: #1A1A1D;
  --blackbg-color: #c3073f60;
  --gray-color: #4E4E50;
  --voilet-color: #6F2232;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* Scroll Bar Design */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black-color);
}